:root{
    --gray-bg: #F9F9F9;
    --gray-font: #515151;
    --gray-border: #D0D0D0;
    --gray-hover: rgb(237, 237, 237);
    --theme-hover: #f2f7ff;
    --theme-color: #5584CE;
    --theme-color-dark: #40649e;
    --alert-color: rgb(210, 92, 92);
    --alert-color-dark: rgb(169, 71, 71);
    --white: white;
    --black: #121212;
}

/* *-------------------- */

.tabs{
    display: flex;
    gap: 0;
    margin: 24px 0;
    border-bottom: 1px solid var(--gray-hover);

}

.tab{
    background: var(--gray-bg);
    border: none;
    font-size: 16px;
    display: inline-flex;
    padding: 8px 20px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
}


.tab-selected{
    background: var(--white);
    border-bottom: 4px solid var(--theme-color);
    color: var(--theme-color);
}

.tab:hover{
    background: var(--gray-hover);
    cursor: pointer;
}


.stock-filters{

    display: grid;
    align-items: center;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    box-sizing: border-box;

}

.input-busqueda{
    display: grid;
    grid-template-rows: auto 40px;
}

.input-description{
    display: grid;
    grid-template-rows: auto 100px;
}




.container-stock{
    grid-template-rows: auto auto 1fr;
    align-items: start;
    padding: 0;
}

.tab-content{
    display: grid;
    width: 100%;
    gap: 12px;
}


.stock-options{
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
}

.stock-table{
    width: 100%;
    border-collapse: collapse; 
    overflow-x: auto;
    box-sizing: border-box;
}

.stock-table th, td {
    padding: 8px;
    text-align: left;
}


.stock-table thead tr:first-child{
    border-bottom: 1px solid var(--gray-hover);
}

.stock-table tbody tr:nth-child(even){
    background: rgb(250, 250, 250);
}

.stock-table tbody tr{
    border-bottom: var(--gray-hover) 1px solid;
    vertical-align: center;
}

.stock-table tbody tr:last-child{
    border-bottom: none;
}


.product-name {
    display: flex;
    align-items: center;
}

#section-2{
    display: none;
}


/* ------------------------------- */
.stock-table .expand-down{
    background: red;
    position: relative;
    cursor: pointer;
}

.stock-table .expand-down div table tr{
    background: blue;

 
}



.product-image {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.options-wrapper {
    position: relative;
    display: inline-block;
  }

.dots {
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    font-size: 20px;
}

.dots:hover {
    color: #007bff;
}

.options-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
    left: -140px;
    top: 0px;
    border-radius: 16px;
    min-width: 115px;
  }

.options-popup ul{
    list-style: none;
    padding: 8px 0;
}  

  .options-popup li{
    padding: 4px 12px;
  }

.options-popup li:hover{
    cursor: pointer;
    background: var(--gray-hover);
}

/* Unidades en todaas las sedes */


.flecha-abajo-cantidad{
    cursor: pointer;
    position: relative;
    top: 6px;
    margin-left: 2px;
    color: var(--gray-border);
}

.flecha-abajo-cantidad:hover{
    color: var(--black);
}

.cantidad-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
    left: -160px;
    top: 40px;
    border-radius: 16px;
    min-width: 200px;
  }

  .cantidad-popup table tr td{
    background: var(--white)
  }

  .cantidad-popup table tr:last-child{
    font-weight: bold;
  }


  /* ----------------------------------- */

.popup-content.edit-article{
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    padding: 24px;
    gap: 40px;
    align-items: center;
}

.edit-article-photo{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.edit-article-photo img{
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gray-border);
    min-width: 230px;
}


.edit-article-elements{
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr 1fr 1fr;

    h3{
        grid-column: 1 / 3;
    }

    div:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    div:nth-child(3){
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    div:nth-child(4){
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    div:nth-child(5){
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    div:nth-child(6){
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    div:nth-child(7){
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

}



.edit-name{
    display: flex;
    column-gap: 8px;
    align-items: flex-end;
    color: var(--gray-font);
    font-size: 14px;

}



/* @media (max-width: 1300px){

} */


@media (max-width: 880px){
    .stock-options{
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .stock-options div{
        display: none;
    }

    .popup-content.edit-article{
        display: grid;
        grid-template-columns: 1fr;
        padding: 8px;
    }

    .edit-article-photo img{
        width: 230px;
    }

    .edit-article-elements{
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto 1fr 1fr 1fr 1fr;
    
        h3{
            grid-column: 1 / 2;
        }
    
        div:nth-child(2){
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        div:nth-child(3){
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        div:nth-child(4){
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        div:nth-child(5){
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        div:nth-child(6){
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        div:nth-child(7){
            grid-column: 1 / 2;
            grid-row: 7 / 8;
        }
    
    }
}
